[submodule "frontend/external/number-flow"]
	path = frontend/external/number-flow
	url = https://github.com/FrankChen021/number-flow.git
	branch = local
[submodule "frontend/external/cmdk"]
	path = frontend/external/cmdk
	url = https://github.com/FrankChen021/cmdk.git
	branch = fix
[submodule "frontend/external/clickhouse"]
	path = frontend/external/clickhouse
	url = https://github.com/FrankChen021/agent-skills.git
[submodule "frontend/external/vizlayer"]
	path = frontend/external/vizlayer
	url = https://github.com/FrankChen021/vizlayer.git
	branch = main
